.light-sky {
	color: #E0EFF1 !important;
}
.dark-sky {
	color: #7DB4B5 !important;
}
.purple {
	color: #680148 !important;
}
.warm-milk {
	color: #e2df9a !important;
}
.tea {
	color: #ebe54d !important;
}
.moss {
	color: #757449 !important;
}
.moss-rock {
	color: #4b490b !important;
}
.magenta {
	color: #ff0051 !important;
}
.slate {
	color: #556270 !important;
}
.pacifica {
	color: #4ECDC4 !important;
}
.apple {
	color: #C7F464 !important;
}
.pillow {
	color: #C44D58 !important;
}


